workspace/HW3/WebContent/WEB-INF/TicketSchema1.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="ticket" type="ticket"/>

  <xs:complexType name="ticket">
    <xs:sequence>
      <xs:element name="creditCard" type="xs:string" minOccurs="0"/>
      <xs:element name="flightID" type="xs:int"/>
      <xs:element name="issued" type="xs:boolean"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>

