pws-hw2-client/xml-resources/web-service-references/TicketAppraiser/wsdl/localhost_8080/pws-hw2/TicketAppraiser.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><xs:schema xmlns:tns="http://ticket.hw2.pws/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://ticket.hw2.pws/">

<xs:element name="availableSeats" type="tns:availableSeats"/>

<xs:element name="availableSeatsResponse" type="tns:availableSeatsResponse"/>

<xs:element name="ticketPrice" type="tns:ticketPrice"/>

<xs:element name="ticketPriceResponse" type="tns:ticketPriceResponse"/>

<xs:complexType name="ticketPrice">
<xs:sequence>
<xs:element name="itinerary" type="tns:itinerary" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="itinerary">
<xs:sequence>
<xs:element name="flights" type="tns:flight" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="flight">
<xs:sequence>
<xs:element name="from" type="xs:string" minOccurs="0"/>
<xs:element name="ID" type="xs:int"/>
<xs:element name="price" type="xs:int"/>
<xs:element name="seats" type="xs:int"/>
<xs:element name="to" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ticketPriceResponse">
<xs:sequence>
<xs:element name="return" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="availableSeats">
<xs:sequence>
<xs:element name="itinerary" type="tns:itinerary" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="availableSeatsResponse">
<xs:sequence>
<xs:element name="return" type="xs:int"/>
</xs:sequence>
</xs:complexType>
</xs:schema>